Flujo Node_Red/GDS0643_Lock.json
[
    {
        "id": "cda98e1c7a9db886",
        "type": "tab",
        "label": "GDS0643_Lock",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8c63271019b94336",
        "type": "mqtt in",
        "z": "cda98e1c7a9db886",
        "name": "",
        "topic": "gds0643/lmrr/sen",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52be4257ece66c67",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 280,
        "wires": [
            [
                "28e42a5aa92f946c"
            ]
        ]
    },
    {
        "id": "dbe8836526213ff7",
        "type": "mqtt out",
        "z": "cda98e1c7a9db886",
        "name": "",
        "topic": "gds0643/lmrr/sen",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "52be4257ece66c67",
        "x": 370,
        "y": 220,
        "wires": []
    },
    {
        "id": "28e42a5aa92f946c",
        "type": "debug",
        "z": "cda98e1c7a9db886",
        "name": "Sensor",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 280,
        "wires": []
    },
    {
        "id": "e610ecb918c69c7e",
        "type": "ui_switch",
        "z": "cda98e1c7a9db886",
        "name": "",
        "label": "Sensor  de  movimiento.",
        "tooltip": "",
        "group": "4a2a2e7ebe1a8ae3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "1984072bc177f722"
            ]
        ]
    },
    {
        "id": "1984072bc177f722",
        "type": "mqtt out",
        "z": "cda98e1c7a9db886",
        "name": "",
        "topic": "gds0643/lmrr/mov",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "52be4257ece66c67",
        "x": 370,
        "y": 540,
        "wires": []
    },
    {
        "id": "1bc220d76b268d34",
        "type": "mqtt in",
        "z": "cda98e1c7a9db886",
        "name": "",
        "topic": "gds0643/lmrr/mov",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "52be4257ece66c67",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 600,
        "wires": [
            [
                "5c158fae6ed5d7be"
            ]
        ]
    },
    {
        "id": "5c158fae6ed5d7be",
        "type": "debug",
        "z": "cda98e1c7a9db886",
        "name": "Sensor movimiento",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 600,
        "wires": []
    },
    {
        "id": "dea6fefdab740324",
        "type": "ui_switch",
        "z": "cda98e1c7a9db886",
        "name": "",
        "label": "Sensor ultrasonico.",
        "tooltip": "",
        "group": "4a2a2e7ebe1a8ae3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "dbe8836526213ff7"
            ]
        ]
    },
    {
        "id": "52be4257ece66c67",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4a2a2e7ebe1a8ae3",
        "type": "ui_group",
        "name": "Lock",
        "tab": "5d6607de4765b046",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5d6607de4765b046",
        "type": "ui_tab",
        "name": "GDS0643_Lock",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]